
.EventsHome {

width: auto;
height: auto;
background: linear-gradient(288.93deg, #000000 3.25%, #0A0440 100%);

}

.allEvents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}