.Header{

/* width: 429px;
height: 61px;
margin: 2rem auto;
padding: 8rem; */
padding: 7rem 0;
    text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 61px;
/* identical to box height */


color: #FFFFFF;
}