.root {
    background-color: white;
    height: autorem;


}

.allPastEvents{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-right: 3rem; */
    align-items: center;
}