.navigation {
  /* position: sticky; */
  position: fixed;
  top: 0;
  left: 0;
  /* top: 0; */
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  /* position: relative; */
  z-index: 10;
  padding: 0.5rem 0rem;
  background-color: #000;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.28);
  justify-content: space-between;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.coderitimg img {
  padding: 10px 40px;
  width: 100px;
}

a {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

a:active {
  text-decoration: none;
  color: white;
}

#join {
  font-weight: 900;
}
